:root {
    --red: #ee3737;
    --green: #38CC8C;
    --dark-blue: #352a75;
    --dark-green: #2EA672;
    --light-blue: #8f87dd;
    --light-white: #FFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--red);
}

h1, span, p {
    color: var(--light-white);
}

input, button {
    width: 100%;
    height: 60px;
    outline: 0;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    transition: 0.16s ease-in;
}

input {
    padding: 0 24px;
    height: 60px;
    border: 2px solid var(--light-blue);
}



